<div class="content-container">

  <p class="average">
   {{!-- El promedio en los Estados Unidos es de<br><br> --}}
    <span id="usAvgSpan">Promedio en Estados Unidos:</span><br>
    <span class="average-group">
    <span class="average-value">1,802</span>
    <span class="mobile-units">Galones/Día</span>
    <span class="units">Galones/Día</span>
    </span>
  </p>

  <p class="rating">
    <span class="rating-value">{{rating}} <div class="rating-value" id="twitter"><a href='#'>Comparta su huella hídrica en Twitter</a>.</div></span>
  </p>

</div>

<div class="content-footer">

  <div id="score-details" class="pill-button balloon">
    
    <span>CONOZCA SU HUELLA HÍDRICA A DETALLE.<br>PRUEBE CON DIFERENTES RESPUESTAS Y VEA SI SUS RESULTADOS CAMBIAN.</span>
    <span class="tri shadow"></span>
    <span class="tri"></span>
    
  </div>

</div>
