<div class="graph-bar--bar"></div>
<div class="graph-bar--info">
  <span class="graph-bar--label">{{topicText}}: </span>
  <span class="graph-bar--score">{{score}}</span>
  <span class="graph-bar--label">Galones/Día</span>
  <span class="tri"></span>
</div>
