<h3 class="indoor">Agua en el interior</h3>
<h3 class="outdoor">Agua exterior</h3>
<h3 class="Virtual">Agua virtual</h3>
<div class="graph-bars-container">
  <div class="graph-depth">
    <span class='large_text'>Haga “Clic” en cualquier objeto arriba o desplácese hacia abajo para mayor información.</span>
  </div>
  <div class="graph-bars"></div>
</div>
