<div class="logo-main"></div>
<div class="logo-minor"></div>

<div id="restart-button" class="button pill-button">
  <span>Reiniciar</span>
  <span class="spin"><span class="flip icon icon-clockwise"></span></span>
</div>

<div id="header-navigation">
  <div id="jump-question" class="button pill-button ball">
    <div id="hover_arrow">Volver arriba</div>
    <span class="icon icon-arrow-thin-up"></span>
  </div>
  <span id="show_detail_hover">
    <div id="jump-graph" class="button pill-button ball">
      <div id="hover_result">Sus resultados en detalle</div>
      <span class="icon icon-graph-bar"></span>
    </div>
    <div id="jump-table" class="button pill-button ball">
      <span class="icon icon-view-list"></span>
    </div>
  </span>
</div>
