<div id="mobile-prompt">
  <span>Sus resultados a detalle</span><span class="icon icon-chevron-down"></span>
</div>

<div id="start" class="progress-group">
  <span>INICIO</span>
  <div class="tri shadow"></div>
  <div class="tri"></div>
</div>

<div id="progress-nodes"></div>

<div id="finish" class="progress-group">
  <span class="progress-group-label">FINAL</span>
</div>

<div class="footer-text"> &copy; <span id="year"></span> GRACE Communications Foundation</div>

<script>
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
