<div class="ui-spinner rate">
  <div class="ui-spinner-control minus"><span class="icon icon-minus"></span></div>
  <div class="ui-spinner-display"></div>
  <div class="ui-spinner-control plus"><span class="icon icon-plus"></span></div>
</div>

<div class="descriptor">{{descriptor}}</div>

<div class="ui-spinner frequency">
  <div class="ui-spinner-control minus"><span class="icon icon-minus"></span></div>
  <div class="ui-spinner-display"></div>
  <div class="ui-spinner-control plus"><span class="icon icon-plus"></span></div>
</div>
