<div class="content-container">
  <h1 class="start-h1">¿Cuál es su Huella Hídrica?</h1>
  <p>Esta calculadora le ayuda a estimar su uso total de agua. Seguramente sabe que el agua proviene de la llave, pero ¿tiene idea de cuánta agua hay en su sándwich? ¿En sus aparatos eléctricos, y en la electricidad que los alimenta? Pronto lo sabrá.</p>

  <div class="options">
    {{#if isFirst}}
      <div class="pill-button" role="button" id="start-btn">
        <span>Comenzar</span>
        <span class="icon icon-chevron-right"></span>
      </div>
    {{else}}

      {{#if isComplete}}
        <div class="pill-button" role="button" id="complete-btn">
          <span>Ver sus resultados</span>
          <span class="icon icon-chevron-right"></span>
        </div>
      {{else}}
        <div class="pill-button" role="button" id="continue-btn">
          <span>Siguiente</span>
          <span class="icon icon-chevron-right"></span>
        </div>
      {{/if}}

      <div class="pill-button" role="button" id="restart-btn">
        <span>Volver al inicio</span>
        <span class="spin"><span class="flip icon icon-clockwise"></span></span> 
      </div>
    {{/if}}
  </div>

  <div class="feature">
    <p><a href="/">What's Your Water Footprint?</a></p>
  </div>

  <div class="divider-welcomePage">
    <p class="question-text">
      <a href="#"></a>Aprende más</a><br>
      {{!-- <span class="caption">Tips, articles and educational material</span> --}}
    </p>
  </div>
  <a href="/como-ahorrar-agua/" target="_blank">
    <div class="category-ui dive-btn">
      <div class="category-title">Cómo Ahorrar Agua</div>
    </div>
  </a>
  
  {{!-- <div class="feature-left">
    <p><a href="/">english<br>What's Your Water Footprint?</a></p>
  </div>

  <div class="feature-right">
    <p><a href="/como-ahorrar-agua/" target="_blank">aprende más<br>Cómo Ahorrar Agua</a></p>
  </div> --}}

  <div class="social">
    <a href="https://www.pinterest.com/WaterCalculator" title="Pinterest" target="_blank"><i class="fa-pinterest-square fa-3x" data-x-icon="&#xf0d3;" aria-hidden="true"></i></a>
  </div>

  <div class="disclaimer">
    <p>Esta calculadora se basa en los promedios y aproximaciones nacionales de EE. UU. y es para personas que viven en los Estados Unidos. Sus resultados deben considerarse una estimación.</p>
  </div>

  <div class="footer">
    <p>
      <a href="/" target="_blank">LEARN MORE</a>
      <a href="/about/" target="_blank">ABOUT</a>
      <a href="mailto:info@watercalculator.org">CONTACT US</a>
      <a href="#"><span class="feedback text">FEEDBACK</span></a>
      <a href="https://watercalculator.org/privacy-and-terms-of-use/" target="_blank">PRIVACY&nbsp;AND TERMS OF USE</a>
    </p>
    <p>© <span id="year"></span> EcoRise. All&nbsp;Rights&nbsp;Reserved.</p>
  </div>

</div>

<script>
    //special campaign requirements for displaying WFC in iframe on savethedropla.org
    if ( window.location !== window.parent.location ) {
      //app is being run inside an iframe
      if ( document.referrer.indexOf('savethedropla') > -1 ) {
        document.getElementById('social').style.visibility = 'hidden';
      }
    } 
</script>

<script>
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
