#ui-completion
  position relative
  top 30%
  padding-top 20px
  height 70%
  min-height 440px

  p 
    font-size 2.4em

  .rating
    margin-top 20px
    margin-bottom 10px
    color color-turquoise

    .rating-value
      color color-txt

  .average
    font-weight 600
    font-size 2em
    margin 0px 40px 20px
    vertical-align middle
    color color-turquoise
    line-height 1.6em

    .average-value
      font-size 43px
      font-weight 800
      color color-turquoise
      vertical-align middle
      position relative
      top -6px
    
    .units
      font-size 24px
      font-weight 400

    .mobile-units
      display none

  a
    font-size 2.4em

  #usAvgSpan
    font-size 24px

#sep_main_score_units
  display none
  width 100%
  height 1px
  clear both

@media screen-mobile-max
  #usAvgSpan
    font-size 22px !important

  #ui-completion
    padding-top 0
    top 35%

    p
      font-size 1.4em

    .rating
      margin-top 0

    .average
      font-size 1.4em
      margin 0px 0 20px
      line-height 1.6em

      .average-group
        display inline
        margin-top 8px

      .average-value
        font-size 2.4em
        margin-top 10px

      .mobile-units
        display inline
        font-size 22px

      .units
        display none

    a
      font-size 1.4em

  #sep_main_score_units
    display block 

  #score-details
    margin-top 20px
