<div class="content-container">
  
  <p class="average">
    <span id="usAvgSpan">US Average:</span>
    <span class="average-group">
    <span class="average-value">1,802</span>
    <span class="mobile-units">Gallons/Day</span>
    <span class="units">Gallons/Day</span>
    </span>
  </p>

  <p class="rating">
    <span class="rating-value"><br/><br/>{{rating}} <div class="rating-value" id="twitter"><a href='#'>Share your water footprint on Twitter</a>.</div></span>
  </p> 

</div>

<div class="content-footer">

    <div id="report-footer--email" class="top-email complete">
      <p class="justiy_p">Get an email with your water footprint.</p>
      <p class="justiy_p">In three months we'll remind you <br> to come back and see if you've improved</p>
      <div id="email-form">
        <input id="email-input1" class="email-input" type="email" placeholder="Your Email Address">
        <div id="email-submit1" class="email-submit pill-button" >Submit</div>
    </div>
     <h2 id="email-confirmation" class="hidden">Thank you!</h2>
    </div>

  <div id="score-details" class="pill-button balloon">
    
    <span>SCROLL DOWN TO SEE YOUR WATER USE</span>
    <span class="tri shadow"></span>
    <span class="tri"></span>
    
  </div>

</div>
