<h3 class="indoor">Indoor Water</h3>
<h3 class="outdoor">Outdoor Water</h3>
<h3 class="Virtual">Virtual Water</h3>
<div class="graph-bars-container">
  <div class="graph-depth">
    <span class='large_text'>Click on any item above or scroll down for detailed information.</span>
  </div>
  <div class="graph-bars"></div>
</div>
