<div class="graph-bar--bar"></div>
<div class="graph-bar--info">
  <span class="graph-bar--label">{{topic}}: </span>
  <span class="graph-bar--score">{{score}}</span>
  <span class="graph-bar--label">GALLONS/DAY</span>
  <span class="tri"></span>
</div>
