<div id="mobile-prompt">
  <span>View Your Result</span><span class="icon icon-chevron-down"></span>
</div>

<div id="start" class="progress-group">
  <span>Start</span>
  <div class="tri shadow"></div>
  <div class="tri"></div>
</div>

<div id="progress-nodes"></div>

<div id="finish" class="progress-group">
  <span class="progress-group-label">Finish</span>
</div>

<div class="footer-text">
  <span class="feedback text">Feedback</span>
  &copy;
  <span id="year"></span>
  EcoRise</div>

<script>
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>