<div id="meter"></div>
<div id="score-display">
   <div id="show-bubble-footprint">Your water footprint:</div>
  <div id="show-bubble-detail">Your result in detail</div>
  <span class="tri"></span>
  <span id="score-label">Your water footprint:</span>
  <div class="score-container">
    <span id="completion-personal-title">Personal:</span>
    <span id="score-value"></span>
    <span id="units">Gallons/Day</span>
  </div>
  
  <div id="score-graph" class="button pill-button ball">
    <span class="icon icon-graph-bar"></span>
  </div>
  <div id="score-table" class="button pill-button ball">
    <span class="icon icon-view-list"></span>
  </div>
  <div class="household-score"></div>
</div>
<div id="water">
  <div id="surface">
    <canvas id="water-surface-one"></canvas>
    <canvas id="water-surface-two"></canvas>
  </div>
  <div id="volume"></div>
</div>
