<div class="ui-slider">
  <div class="ui-slider-track">
    <div class="ui-slider-shuttle">
      <span class="ui-slider-shuttle-display">
        <span class="icon icon-menu"></span>
      </span>
    </div>
  </div>
</div>
