<div id="lightbox" class='feedback'></div>
    <div id="feedback_div">
        <h1>Send Feedback</h1>
        <input type="text" id="feedback_email" placeholder="Email Optional" />
        <textarea id="feedback_text" maxlength="1000" placeholder="Leave Your Feedback"></textarea>
        <button class="pill-button send_feedback" >Submit</button> <span id="key_count">1000</span>
    </div>
    <div id="lightbox" class="email"></div></div>    
<div id="score"></div>
<div id="header"></div>
<div id="content"></div>
<div id="report"></div>
<div id="footer"></div>
<div id="progress"></div>
