color-bg  = #003f69
color-txt = #0e4873

color-water = #a7ddfc

color-turquoise = #00bcb6
color-turquoise-light = #a7e3e0
color-turquoise-dark = #105855
color-turquoise-text = #2f9194

color-beige = #f4efe1
color-beige-dark = #d3cdbc
color-beige-medium = #ebe4d1
color-beige-text = #8c887d

color-gold = #ffc53f

color-indoor = #059cec
color-outdoor = #7cb250
color-virtual = #2f9194

