<div class="multi-choice">
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
  <div id="Q3C1a" class="pill-button choice"><span>Yes</span></div>
  <div id="Q3C1b" class="pill-button choice"><span>No</span></div>
  <div id="Q3C1c" class="pill-button choice"><span>Some</span></div>
</div>
