<div class="multi-choice">
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
  <div id="Q3C2a" class="pill-button choice"><span>Under 5 min</span></div>
  <div id="Q3C2b" class="pill-button choice"><span>5-10 min</span></div>
  <div id="Q3C2c" class="pill-button choice"><span>11-30 min</span></div>
  <div id="Q3C2d" class="pill-button choice"><span>Over 30 min</span></div>
</div>
