<div class="multi-choice">
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
  <div id="Q7D1a" class="pill-button choice"><span>Yes. How else would I get around?</span></div>
  <div id="Q7D1b" class="pill-button choice"><span>No. Who needs one?</span></div>
</div>
