<div id="member-pool"></div>

<div id="vegans" class="member-node">
  <div class="member-controls">
    <span class="changer less icon icon-minus"></span>
    <span class="name">Vegan</span>
    <span class="changer more icon icon-plus"></span>
  </div>
  <div class="member-counter"></div>
</div>
<div id="vegetarians" class="member-node">
  <div class="member-controls">
    <span class="changer less icon icon-minus"></span>
    <span class="name">Vegetarian</span>
    <span class="changer more icon icon-plus"></span>
  </div>
  <div class="member-counter"></div>
</div>
<div id="meat-eaters" class="member-node">
  <div class="member-controls">
    <span class="changer less icon icon-minus"></span>
    <span class="name">Meat Eater</span>
    <span class="changer more icon icon-plus"></span>
  </div>
  <div class="member-counter"></div>
</div>

<div>
  <div class="prev-btn pill-button ball"><span class="icon icon-chevron-left"></span></div>
  <div class="next-btn pill-button"><span>Next</span><span class="icon icon-chevron-right"></span></div>
</div>
