<div class="multi-choice">
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
  <div id="Q4A2a" class="pill-button choice"><span>Under 5 min</span></div>
  <div id="Q4A2b" class="pill-button choice"><span>5-20 min</span></div>
  <div id="Q4A2c" class="pill-button choice"><span>21-45 min</span></div>
  <div id="Q4A2d" class="pill-button choice"><span>Over 45 min</span></div>
</div>
