<div id="lawn-art">
  <img id="lawn-small" src="{{appRoot}}images/lawn.svg"/>
  <img id="lawn-large" src="{{appRoot}}images/lawn-large.svg"/>
</div>
<div id="lawn-area">
  {{!-- SliderUI --}}
</div>

<div id="water-frequency">
  {{!-- FrequencyUI --}}
</div>


<div>
  <div class="prev-btn pill-button ball"><span class="icon icon-chevron-left"></span></div>
  <div class="next-btn pill-button"><span>Next</span><span class="icon icon-chevron-right"></span></div>
</div>
