<div class="multi-choice survey">
  <div id="indoor" class="pill-button choice"><span>INDOOR WATER USE</span></div>
  <div id="outdoor" class="pill-button choice"><span>OUTDOOR WATER USE</span></div>
  <div id="virtual" class="pill-button choice"><span>VIRTUAL WATER USE</span></div>
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
</div>
