<div class="multi-choice survey">
  <div id="save-water" class="pill-button choice"><span>HOW TO SAVE WATER</span></div>
  <div id="help-environment" class="pill-button choice"><span>HELPING THE ENVIRONMENT</span></div>
  <div id="save-money" class="pill-button choice"><span>SAVING MONEY</span></div>
  <div id="get-footprint" class="pill-button choice"><span>GETTING MY WATER FOOTPRINT</span></div>
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
</div>
