<div id="pet-food" class="ui-spinner">
  <div class="ui-spinner-control minus"><span class="icon icon-minus"></span></div>
  <div class="ui-spinner-display"></div>
  <div class="ui-spinner-control plus"><span class="icon icon-plus"></span></div>
</div>

<div>
  <div class="prev-btn pill-button ball"><span class="icon icon-chevron-left"></span></div>
  <div class="next-btn pill-button"><span>Next</span><span class="icon icon-chevron-right"></span></div>
</div>
