<div class="multi-choice">
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
  <div id="Q9A1" class="pill-button choice"><span>Shop for Basics</span></div>
  <div id="Q9A2" class="pill-button choice"><span>Like to Shop</span></div>
  <div id="Q9A3" class="pill-button choice"><span>Shop Til You Drop</span></div>
</div>
