<div class="multi-choice">
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
  <div id="Q3A2a" class="pill-button choice"><span>Yes</span></div>
  <div id="Q3A2b" class="pill-button choice"><span>No</span></div>
  <div id="Q3A2c" class="pill-button choice"><span>Some</span></div>
</div>
