<div class="multi-choice">
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
  <div id="Q3A1a" class="pill-button choice"><span>Under 5 min</span></div>
  <div id="Q3A1b" class="pill-button choice"><span>5-10 min</span></div>
  <div id="Q3A1c" class="pill-button choice"><span>11-15 min</span></div>
  <div id="Q3A1d" class="pill-button choice"><span>Over 15 min</span></div>
</div>
