<div id="months-covered">
  {{!-- SliderUI --}}
</div>
<div class="slider-values">
  <span class="left">0</span>
  <span class="middle">6</span>
  <span class="right">12</span>
</div>

<div>
  <div class="prev-btn pill-button ball"><span class="icon icon-chevron-left"></span></div>
  <div class="next-btn pill-button"><span>Next</span><span class="icon icon-chevron-right"></span></div>
</div>
