<div class="multi-choice">
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
  <div id="Q3C2a" class="pill-button choice"><span>MENOS DE 5 MIN</span></div>
  <div id="Q3C2b" class="pill-button choice"><span>ENTRE 5-10 MIN</span></div>
  <div id="Q3C2c" class="pill-button choice"><span>ENTRE 11-30 MIN</span></div>
  <div id="Q3C2d" class="pill-button choice"><span>MÁS DE 30 MIN</span></div>
</div>
