<div class="multi-choice">
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
  <div id="Q3C1a" class="pill-button choice"><span>SI</span></div>
  <div id="Q3C1b" class="pill-button choice"><span>NO</span></div>
  <div id="Q3C1c" class="pill-button choice"><span>ALGUNOS</span></div>
</div>
