<div class="multi-choice">
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
  <div id="Q7D1a" class="pill-button choice"><span>SI. ¿DE QUÉ OTRA MANERA PODRÍA MOVERME?</span></div>
  <div id="Q7D1b" class="pill-button choice"><span>NO. ¿QUIÉN NECESITA UNO?</span></div>
</div>
