<div id="state-select">
  <div class="select-crop">
    <select id="state">
      <option value="0">Elija</option>
      <option value="93.2">ALABAMA</option>
      <option value="122.6">ALASKA</option>
      <option value="70.2">ARIZONA</option>
      <option value="72.0">ARKANSAS</option>
      <option value="49.7">CALIFORNIA</option>
      <option value="28.2">COLORADO</option>
      <option value="22.1">CONNECTICUT</option>
      <option value="11.4">DELAWARE</option>
      <option value="0.2">DISTRICT OF COLUMBIA</option>
      <option value="13.6">FLORIDA</option>
      <option value="31.1">GEORGIA</option>
      <option value="15.8">HAWAII</option>
      <option value="251.2">IDAHO</option>
      <option value="30.6">ILLINOIS</option>
      <option value="21.2">INDIANA</option>
      <option value="33.2">IOWA</option>
      <option value="19.8">KANSAS</option>
      <option value="54.6">KENTUCKY</option>
      <option value="36.7">LOUISIANA</option>
      <option value="107.2">MAINE</option>
      <option value="24.6">MARYLAND</option>
      <option value="16.2">MASSACHUSETTS</option>
      <option value="20.1">MICHIGAN</option>
      <option value="22.4">MINNESOTA</option>
      <option value="25.0">MISSISSIPPI</option>
      <option value="23.3">MISSOURI</option>
      <option value="413.4">MONTANA</option>
      <option value="41.8">NEBRASKA</option>
      <option value="47.4">NEVADA</option>
      <option value="61.4">NEW HAMPSHIRE</option>
      <option value="12.9">NEW JERSEY</option>
      <option value="22.3">NEW MEXICO</option>
      <option value="99.6">NEW YORK</option>
      <option value="34.0">NORTH CAROLINA</option>
      <option value="147.1">NORTH DAKOTA</option>
      <option value="25.5">OHIO</option>
      <option value="51.2">OKLAHOMA</option>
      <option value="402.2">OREGON</option>
      <option value="43.1">PENNSYLVANIA</option>
      <option value="8.6">RHODE ISLAND</option>
      <option value="41.5">SOUTH CAROLINA</option>
      <option value="247.6">SOUTH DAKOTA</option>
      <option value="60.1">TENNESSEE</option>
      <option value="24.4">TEXAS</option>
      <option value="32.5">UTAH</option>
      <option value="68.6">VERMONT</option>
      <option value="22.3">VIRGINIA</option>
      <option value="517.6">WASHINGTON</option>
      <option value="81.1">WEST VIRGINIA</option>
      <option value="32.4">WISCONSIN</option>
      <option value="156.6">WYOMING</option>
    </select>
  </div>
</div>

<div>
  <div class="prev-btn pill-button ball"><span class="icon icon-chevron-left"></span></div>
  <div class="next-btn pill-button"><span>SIGUIENTE</span><span class="icon icon-chevron-right"></span></div>
</div>
