<div class='slider-bookended'>
  <img class="slider-bookend left" src="{{appRoot}}images/renewables-esp.svg"/>
  <div id="electricity-balance">
    {{!-- SliderUI --}}
  </div>
  <img class="slider-bookend right" src="{{appRoot}}images/utilities-esp.svg"/>
  <div class="slider-values below-bookends clearfix">
    <span class="left">0%</span>
    <span class="right">100%</span>
  </div>
</div>

<div>
  <div class="prev-btn pill-button ball"><span class="icon icon-chevron-left"></span></div>
  <div class="next-btn pill-button"><span>SIGUIENTE</span><span class="icon icon-chevron-right"></span></div>
</div>
