<div class="multi-choice">
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
  <div id="Q9C1" class="pill-button choice"><span>NUNCA</span></div>
  <div id="Q9C2" class="pill-button choice"><span>A VECES</span></div>
  <div id="Q9C3" class="pill-button choice"><span>SIEMPRE</span></div>
</div>
