<div class="multi-choice">
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
  <div id="Q6A1" class="pill-button choice"><span>Por supuesto!</span></div>
  <div id="Q6A2" class="pill-button choice"><span>NO</span></div>
</div>
