<div id="household-members" class="ui-spinner">
  <div class="ui-spinner-control minus"><span class="icon icon-minus"></span></div>
  <div class="ui-spinner-display"></div>
  <div class="ui-spinner-control plus"><span class="icon icon-plus"></span></div>
  <div class="just-me"><span>SÓLO YO</span></div>
</div>

<div>
  <div class="next-btn pill-button"><span>SIGUIENTE</span><span class="icon icon-chevron-right"></span></div>
</div>
