<div class="multi-choice">
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
  <div id="Q4A2a" class="pill-button choice"><span>MENOS DE 5 MIN</span></div>
  <div id="Q4A2b" class="pill-button choice"><span>ENTRE 5-20 MIN</span></div>
  <div id="Q4A2c" class="pill-button choice"><span>ENTRE 21-45 MIN</span></div>
  <div id="Q4A2d" class="pill-button choice"><span>MÁS DE 45 MIN</span></div>
</div>
