<div class="multi-choice survey">
  <div id="indoor" class="pill-button choice"><span>USO DEL AGUA EN EL INTERIOR</span></div>
  <div id="outdoor" class="pill-button choice"><span>USO DEL AGUA EXTERIOR</span></div>
  <div id="virtual" class="pill-button choice"><span>USO DEL AGUA VIRTUAL</span></div>
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
</div>
