<div class="multi-choice survey">
  <div id="save-water" class="pill-button choice"><span>COMO AHORRAR AGUA</span></div>
  <div id="help-environment" class="pill-button choice"><span>AYUDAR AL MEDIO AMBIENTE</span></div>
  <div id="save-money" class="pill-button choice"><span>AHORRAR DINERO</span></div>
  <div id="get-footprint" class="pill-button choice"><span>CONOCER MI HUELLA HÍDRICA</span></div>
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
</div>
