<div class="multi-choice">
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
  <div id="Q9B2a" class="pill-button choice"><span>NO</span></div>
  <div id="Q9B2b" class="pill-button choice"><span>UN POCO</span></div>
  <div id="Q9B2c" class="pill-button choice"><span>TODO</span></div>
</div>
