<div class="multi-choice">
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
  <div id="Q9B3a" class="pill-button choice"><span>NINGUNA</span></div>
  <div id="Q9B3b" class="pill-button choice"><span>ALGUNAS</span></div>
  <div id="Q9B3c" class="pill-button choice"><span>TODAS</span></div>
</div>
