<div class="multi-choice">
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
  <div id="Q9A1" class="pill-button choice"><span>COMPRO LO BÁSICO</span></div>
  <div id="Q9A2" class="pill-button choice"><span>ME GUSTA COMPRAR</span></div>
  <div id="Q9A3" class="pill-button choice"><span>COMPRO HASTA QUE ME CANSO</span></div>
</div>
