<div class="multi-choice">
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
  <div id="Q3A1a" class="pill-button choice"><span>MENOS DE 5 MIN</span></div>
  <div id="Q3A1b" class="pill-button choice"><span>ENTRE 5-10 MIN</span></div>
  <div id="Q3A1c" class="pill-button choice"><span>ENTRE 11-15 MIN</span></div>
  <div id="Q3A1d" class="pill-button choice"><span>MÁS DE 15 MIN</span></div>
</div>
