<div class="multi-choice">
  <div class="prev-btn pill-button back"><span class="icon icon-chevron-left"></span></div>
  <div id="Q3D2a" class="pill-button choice"><span>¡CLARO!</span></div>
  <div id="Q3D2b" class="pill-button choice"><span>NO</span></div>
  <div id="Q3D2c" class="pill-button choice"><span>A VECES</span></div>
</div>
