<div>
  <div class="prev-btn pill-button ball"><span class="icon icon-chevron-left"></span></div>
  <div class="next-btn pill-button"><span>SIGUIENTE</span><span class="icon icon-chevron-right"></span></div>
</div>
